<%- include('./partials/head') %>

<div class = "paintingWrapper">

    <% data.forEach(function(painting) { %>
            <a href = "/painting/<%= painting.objectNumber %>">
                <%if(painting.webImage){ %>
                    <!--Slice the images to get other resolutions-->
                    <img 
                        srcset= <%-painting.webImage.url.slice(0, -3) + "=s200"%>  50w,
                            <%-painting.webImage.url.slice(0, -3) + "=s400"%>  100w,  
                            <%-painting.webImage.url.slice(0, -3) + "=s600"%>  200w, 
                        sizes="(max-width: 710px) 120px,
                            (max-width: 991px) 193px,
                            278px"
                        src= <%-painting.webImage.url.slice(0, -3) + "=s1000" %> 
                        alt= <%- painting.title %>                           > 
                >
                <% }else{ %>
                    <img src= <%- "/img/placeholder.png" %> alt= <%- painting.title %> >
                <% } %>
                <h2><%- painting.title %></h2>
            </a>
    <% }) %>

</div>

<%- include('./partials/footer') %>
